<div class="parallax-container">
  <div class="parallax">
  <%= image_tag("hero.jpg", :alt => "rss feed") %>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-med-and-down"></div>

  <div class="container">
    <h2 class="center white-text"> 
      ULink enables students to navigate, understand, and own their destiny. 
    </h2>
  </div>

  <div class="row"> </div>
  <div class="row"> </div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-small-only"></div>

  <div class="container center">
    <a class="card-panel yellow darken-1 blue-text text-darken-4" href="#signup">   Sign Up   </a>
  </div>
</div>

<div class="container">
  <div class="divider"></div>
</div>

<div class="container">
  <div class="video-container">
    <iframe width="853" height="480" src="https://player.vimeo.com/video/152760161" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="container center">
  <h4 class="blue-text text-darken-4"">
    The Problem
  </h4>
  <div class="row">
    <div class="col s8 m6 l3">
      <h1>
        17%      
       </h1>
    </div>
    <div class="col s8 m6 l9">
      <h5 class="flow-text">• Almost half of the students enrolled in higher education are in community college</h5>
      <h5 class="flow-text">• Only 17% of students successfully earn a bachelor’s degree within 6 years of transferring</h5>
      <h5 class="flow-text">• There is a student to counselor ratio gap of 1,000 to 1, a lack of end-to-end assistance, and limited communication between students and community college administrators.</h5>
    </div>
  </div>
</div>

<div class="container center">
  <h4 class="blue-text text-darken-4"">
    Solutions
  </h4>
</div>

  <div class="container">

    <div class="row">
      <div class="col s8 m6 l4">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("computer.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">The integrated profile keeps students on track with their progression, while simultaneously sending the data back to administrators.</p>
        </div>
      </div>

      <div class="col s8 m6 l4">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("coach.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">Students receive tailored messages mimicking the nudges of a live coach. The program has a built-in reward system and pairs them with an in-person mentor.</p>
        </div>
      </div>

      <div class="col s8 l4 hide-on-med-only">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("phone.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">Automated mobile texting between administrators and students that establishes reliable and adaptable communication.</p>
        </div>
      </div>
    </div>
  </div>


<div class="container center">
  <iframe class="center" width="438" height="930" src="//invis.io/EX3UY42D7" frameborder="0" allowfullscreen></iframe>
</div>



<div class="container center">
  <h4 class="blue-text text-darken-4"">
    Partners
  </h4>
</div>

 <div class="row"></div>

<div class="container">
  <div class="row">
    <a class="col s3" href="http://now.tufts.edu/news-releases/tufts-university-announces-winners-100k-new-ventures-competition">
      <img class="responsive-img center" <%= image_tag("100k.png", :alt => "rss feed") %>
    </a>
    <a class="col s3" href="http://www.rcc.mass.edu/">
      <img class="responsive-img center" <%= image_tag("roxbury.png", :alt => "rss feed") %>
    </a>
    <a class="col s3" href="http://gordon.tufts.edu/competitions/2016-winners">
      <img class="responsive-img center" <%= image_tag("gordon.jpg", :alt => "rss feed") %>
    </a>
    <a class="col s3" href="http://www.smarterinthecity.com/#!portfolio/galleryPage">
      <img class="responsive-img center" <%= image_tag("smarter.jpeg", :alt => "rss feed") %>
    </a>
  </div>
</div>

<a name="signup"></a>

<div class="parallax-container">
  <div class="parallax">
  <%= image_tag("chalk.jpg", :alt => "rss feed") %>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="container">
    <h2 class="center white-text"> 
      Let's get started.
    </h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s3">   </div>
      <div class="col s6">
        <script>(function(t,e,s,n){var o,c,i;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),c=o[o.length-1],i=e.createElement(s),i.type="text/javascript",i.async=!0,i.id=n,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/1sAtKj4DxOF8szNZXYgyJlsyYYeF7PtAgXsE7kHykLyOehXx90S0EBym7w9GD5i3.js"].join(""),c.parentNode.insertBefore(i,c))})(window,document,"script","smcx-sdk");</script>
        </div>
      <div class="col s3">   </div>
    </div>
  </div>
</div>
<footer class="page-footer indigo accent-2">
  <div class="footer-copyright indigo accent-2">
    <div class="container indigo accent-2">
    Copyright © ULink 2016. All rights reserved.
    <a class="grey-text text-lighten-4 right" href="press">News  </a>
    <a class="grey-text text-lighten-4 right" href="donate">Donate  </a>
    <a class="grey-text text-lighten-4 right" href="contact">Contact  </a>
    <a class="grey-text text-lighten-4 right" href="about">About  </a>
    </div>
    <div class="row"></div>
    <div class="row"></div>

  </div>
</footer>





