<div class="parallax-container">
  <div class="parallax">
  <%= image_tag("hero.jpg", :alt => "rss feed") %>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-med-and-down"></div>

  <div class="container">
    <h1 class="center white-text">
      <big>ULink</big>
    </h1>
    <h2 class="center white-text"> 
      Transferring Assistance made easy.
    </h2>
  </div>

  <div class="row"> </div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-small-only"></div>
</div>

<div class="container">
  <div class="divider"></div>
</div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

<div class="container">
  <div class="card white">
    <div class="video-container">
      <iframe width="853" height="480" src="https://player.vimeo.com/video/152760161" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="container center">
  
    <div class="row"></div>
    <div class="row"></div>

    <h4 class="blue-text text-darken-4 animated fadeIn">
      Problem
    </h4>
  
    <div class="row"></div>

    <div class="container center">
      <div class="row valign-wrapper">
        <div class="col s12">
          <h5 class="flow-text">• Almost <strong> half of the students </strong> enrolled in higher education <strong> are in community college</strong></h5>
          <h5 class="flow-text">• <strong> Only 17% of students </strong> successfully <strong> earn a bachelor’s degree </strong> within 6 years of transferring</h5>
          <h5 class="flow-text">• There is a <strong> student to counselor ratio gap of 1,000 to 1</strong>, a <strong> lack of end-to-end assistance</strong>, and <strong> limited communication </strong> between students and community college administrators.</h5>
        </div>
      </div>
    </div>

    <div class="row"></div>
    <div class="row"></div>

  
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="container center">
  
    <div class="row"></div>
    <div class="row"></div>
    <h4 class="blue-text text-darken-4"">
      Solution
    </h4>


    <div class="row"></div>
    <div class="row"></div>
    <div class="container">
    <div class="row">
      <div class="col s8 m6 l4">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("computer.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">The integrated profile keeps students on track with their progression, while simultaneously sending the data back to administrators.</p>
        </div>
      </div>

      <div class="col s8 m6 l4">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("coach.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">Students receive tailored messages mimicking the nudges of a live coach. The program has a built-in reward system and pairs them with an in-person mentor.</p>
        </div>
      </div>

      <div class="col s8 l4 hide-on-med-only">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("phone.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">Automated mobile texting between administrators and students that establishes reliable and adaptable communication.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="row"></div>
  
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="container center">
    <div class="row">
      <img class="responsive-img center" <%= image_tag("proto.jpg", :alt => "rss feed") %>
    </div>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>


<div class="container center">
  
  <div class="row"></div>
  <div class="row"></div>
    <h4 class="blue-text text-darken-4"">
      Team
    </h4>

    <div class="row"></div>
    <div class="row">

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator circle waves-effect waves-block waves-light">
          <img class="activator responsive-img" <%= image_tag("phil.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Phillip Ellison<i class="material-icons right">more_vert</i></span>
            <h5 class="blue-text text-darken-4"">
              Managing Director
            </h5>
        </div>
        <div class="card-reveal">
          <span class="card-title center grey-text text-darken-4">Phillip Ellison<i class="material-icons right">close</i></span>
          <p><a href="https://www.linkedin.com/in/phillipdavidellison">LinkedIn</a>  ||  @harlemsownpde
          <br> <br> Philip is a non-traditional student at Tufts University after attending community college and worked in national service, education, and politics. He is a proud alum of City Year and the Hive Global Leaders program. <br> <br> Phillip is passionate about strategically bringing together the cross-section of the community, the private sector, the public and social sectors, and technology to foster social innovation that expands opportunities for underserved populations. 
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator circle waves-effect waves-block waves-light">
          <img class="activator responsive-img" <%= image_tag("parisa.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Parisa Esmaili<i class="material-icons right">more_vert</i></span>
            <h5 class="blue-text text-darken-4"">
              Business Development
            </h5>
        </div>
        <div class="card-reveal">
          <span class="card-title center grey-text text-darken-4">Parisa Esmaili<i class="material-icons right">close</i></span>
          <p><a href="https://www.linkedin.com/in/parisa-esmaili-22852717">LinkedIn</a>
          <br> <br> Deeply committed to increasing social mobility and creating systemic change through education and financial inclusion, Parisa is a former community college student turned MBA graduate. <br> <br> Her varied experience including business development, communications and marketing, and direct programming, have given her a well-rounded and prudent understanding of organizational structure and social impact. Parisa is a proud alumnae of the national service organization City Year and is the former president of her Net Impact chapter.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator circle waves-effect waves-block waves-light">
          <img class="activator responsive-img" <%= image_tag("jubril.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Jubril Lawal<i class="material-icons right">more_vert</i></span>
            <h5 class="blue-text text-darken-4"">
              Operations
            </h5>
        </div>
        <div class="card-reveal">
          <span class="card-title center grey-text text-darken-4">Jubril Lawal<i class="material-icons right">close</i></span>
          <p><a href="https://www.linkedin.com/in/jubrillawal">LinkedIn</a>  ||  @jubslaw
          <br> <br>Jubril is a community college graduate who knows first hand the opportunities education brings about. This opportunity afforded him a scholarship at a premier institution in Tufts University where he started working on ULink. <br> <br> Jubril’s aspiration is to provide community college students most of whom are first-generation and underprivileged and make up just under half of the entire college student population in the United States the vision and tools  necessary to pursue the opportunity he was afforded which consequentially would launch them on the path of upward social mobility. </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container center">
  
  <div class="row"></div>
  <div class="row"></div>

  <h4 class="blue-text text-darken-4">
    Blog
  </h4>
  <div class="row"></div>
  <%= image_tag("blog.png", :alt => "rss feed") %>
  <div class="row"></div>
    <h5> <a href="press">Title of First Entry</a>  </h5>
    <h5> <a href="press">Title of Second Entry</a>  </h5>
    <h5> <a href="press">Title of Third Entry</a>  </h5>

<div class="row"></div>
<div class="row"></div>

<div class="container center">

  <div class="row"></div>
  <div class="row"></div>

  <h4 class="blue-text text-darken-4"">
    In The Press
  </h4>

<div class="row"></div>

<div class="container">
  <div class="slider">
    <ul class="slides">
      <li>
       <a href="https://www.cityyear.org/boston/blog/alumni-spotlight-phillip-ellison" target="_blank">
        <%= image_tag("alumni.png", :alt => "rss feed") %>
        <div class="caption left-align">
          <h3>City Year</h3>
          <h5 class="light grey-text text-lighten-3">Alumni Spotlight: Philip Ellison</h5>
        </div>
        </a>
      </li>
      <li>
       <a href="http://bostinno.streetwise.co/2016/05/13/how-to-get-a-job-in-tech-community-college-certificates/" target="_blank">
        <%= image_tag("bostinno.jpg", :alt => "rss feed") %>
        <div class="caption center-align">
          <h3>BostInno</h3>
          <h5 class="light grey-text text-lighten-3">What the Tech Hiring Market Wants</h5>
        </div>
        </a>
      </li>
      <li>
       <a href="https://cdn.americanprogress.org/wp-content/uploads/2015/09/15155830/NatlSvcHigherEd-report-FINAL.pdf" target="_blank">
        <%= image_tag("progress.png", :alt => "rss feed") %>
        <div class="caption right-align">
          <h3>Center for American Progress</h3>
          <h5 class="light grey-text text-lighten-3">A New Vision in Higher Education</h5>
        </div>
        </a>
      </li>
      <li>
       <a href="http://www.millennialtrain.net/2016-unity/#/phillip-ellison/" target="_blank">
        <%= image_tag("millenial.png", :alt => "rss feed") %>
        <div class="caption center-align black-text">
          <h3>Millenial Train</h3>
          <h5 class="light black-text">Pilot Program</h5>
        </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="row"></div>
  <div class="row"></div>

</div>

<div class="row"></div>
<div class="row"></div>

<div class="container center">
  

  <div class="row"></div>
  <div class="row"></div>

    <h4 class="blue-text text-darken-4"">
      Partners
    </h4>

  <div class="row"></div>

    <div class="container">
      <div class="row">
        <a class="col s3" href="http://now.tufts.edu/news-releases/tufts-university-announces-winners-100k-new-ventures-competition" target="_blank">
          <img class="responsive-img center" <%= image_tag("100k.png", :alt => "rss feed") %>
        </a>
        <a class="col s3" href="http://www.rcc.mass.edu/" target="_blank">
          <img class="responsive-img center" <%= image_tag("roxbury.png", :alt => "rss feed") %>
        </a>
        <a class="col s3" href="http://gordon.tufts.edu/competitions/2016-winners" target="_blank">
          <img class="responsive-img center" <%= image_tag("gordon.jpg", :alt => "rss feed") %>
        </a>
        <a class="col s3" href="http://www.smarterinthecity.com/#!portfolio/galleryPage" target="_blank">
          <img class="responsive-img center" <%= image_tag("smarter.jpg", :alt => "rss feed") %>
        </a>
      </div>
    </div>

  <div class="row"></div>
  <div class="row"></div>

  </div>

</div>
<a name="signup"></a>

<div class="parallax-container">
  <div class="parallax">
  <%= image_tag("chalk.jpg", :alt => "rss feed") %>
  </div>

  <div class="row"></div>
  <div class="row"></div>

  <div class="container">
    <div class="row">
          <img class="responsive-img center" <%= image_tag("contact.png", :alt => "rss feed") %></div>
    </div>
  </div>
</div>