<div class="parallax-container">
  <div class="parallax">
  <%= image_tag("hero.jpg", :alt => "rss feed") %>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-med-and-down"></div>

  <div class="container">
    <h2 class="center white-text"> 
      ULink enables students to navigate, understand, and own their destiny. 
    </h2>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row hide-on-med-and-down"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-small-only"></div>
  <div class="row hide-on-small-only"></div>

  <div class="container center">
    <a class="card-panel light-green darken-3 white-text" href="https://will253.typeform.com/to/jxkeeN" data-mode="1" target="_blank">   Sign Up   </a>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
  </div>
</div>

<div class="container center">
  <h4 class="grey-text">
    The Problem
  </h4>
  <div class="row">
    <div class="col s8 m6 l3">
      <h1>
        17%      
       </h1>
    </div>
    <div class="col s8 m6 l9">
      <h5 class="flow-text">• Almost half of the students enrolled in higher education are in community college</h5>
      <h5 class="flow-text">• Only 17% of students successfully earn a bachelor’s degree within 6 years of transferring</h5>
      <h5 class="flow-text">• There is a student to counselor ratio gap of 1,000 to 1, a lack of end-to-end assistance, and limited communication between students and community college administrators.</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="divider"></div>
</div>

<div class="container">
  <div class="video-container">
    <iframe width="853" height="480" src="https://player.vimeo.com/video/152760161" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<div class="container center">
  <h4 class="grey-text">
    The Solution
  </h4>
</div>

  <div class="container">

    <div class="row">
      <div class="col s8 m6 l4">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("computer.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">The integrated profile keeps students on track with their progression, while simultaneously sending the data back to administrators.</p>
        </div>
      </div>

      <div class="col s8 m6 l4">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("coach.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">Students receive tailored messages mimicking the nudges of a live coach. The program has a built-in reward system and pairs them with an in-person mentor.</p>
        </div>
      </div>

      <div class="col s8 l4 hide-on-med-only">
        <div class="card-image">
          <img class="responsive-img" <%= image_tag("phone.png", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">Automated mobile texting between administrators and students that establishes reliable and adaptable communication.</p>
        </div>
      </div>
    </div>
  </div>


<div class="container center">
  <iframe class="center" width="438" height="930" src="//invis.io/EX3UY42D7" frameborder="0" allowfullscreen></iframe>
</div>



<div class="container center">
  <h4 class="grey-text">
    Partners
  </h4>
</div>

 <div class="row"></div>

<div class="container">
  <div class="row">
    <a class="col s3" href="http://now.tufts.edu/news-releases/tufts-university-announces-winners-100k-new-ventures-competition">
      <img class="responsive-img center" <%= image_tag("100k.png", :alt => "rss feed") %>
    </a>
    <a class="col s3">
      <img class="responsive-img center" <%= image_tag("smarter.jpeg", :alt => "rss feed") %>
    </a>
    <a class="col s3">
      <img class="responsive-img center" <%= image_tag("masschallenge.jpg", :alt => "rss feed") %>
    </a>
    <a class="col s3">
      <img class="responsive-img center" <%= image_tag("gc.jpg", :alt => "rss feed") %>
    </a>
  </div>
</div>


<div class="parallax-container">
  <div class="parallax">
  <%= image_tag("chalk.jpg", :alt => "rss feed") %>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <div class="container center">
      <a class="card-panel light-green darken-3 white-text" href="https://will253.typeform.com/to/jxkeeN" data-mode="1" target="_blank">   Sign Up   </a>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <footer class="page-footer indigo darken-3">
    <div class="footer-copyright">
      <div class="container">
      Copyright © ULink 2016. All rights reserved.
      <a class="grey-text text-lighten-4 right" href="donate">Donate</a>
      <a class="grey-text text-lighten-4 right" href="privacy">Privacy Statement   </a>
      </div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </footer>

</div>





