  <div class="row"> </div>

  <div class="container">
  
    <div class="row">
      <div class="col s8 m6 l4">
        <h3 class="center">
          Phillip Ellison
        </h3>
        <h5 class="center blue-text text-darken-4">
          Managing Director
        </h5>
        <div class="card-panel">
          <img class="center-block circle responsive-img" <%= image_tag("phil.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">Phillip is a non-traditional student at Tufts University after attending community college and worked in national service, education, and politics. He is a proud alum of City Year and the Hive Global Leaders program. Phillip is passionate about strategically bringing together the cross-section of the community, the private sector, the public and social sectors, and technology to foster social innovation that expands opportunities for underserved populations. </p>
        </div>
      </div>

      <div class="col s8 m6 l4">
        <h3 class="center">
        Parisa Esmaili
        </h3>
        <h5 class="center blue-text text-darken-4">
          Business Development
        </h5>
        <div class="card-panel">
          <img class="center-block circle responsive-img" <%= image_tag("parisa.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">Deeply committed to increasing social mobility and creating systemic change through education and financial inclusion, Parisa is a former community college student turned MBA graduate. Her varied experience including business development, communications and marketing, and direct programming, have given her a well-rounded and prudent understanding of organizational structure and social impact. Parisa is a proud alumnae of the national service organization City Year and is the former president of her Net Impact chapter.</p>
        </div>
      </div>

      <div class="col s8 m6 l4">
        <h3 class="center">
          Jubril Lawal
        </h3>
        <h5 class="center blue-text text-darken-4"">
          Operations
        </h5>

        <div class="card panel">
            <img class="center-block circle responsive-img" <%= image_tag("jubril.jpg", :alt => "rss feed") %>
        </div>
          <div class="card-content">
            <p class="center">Jubril is a community college graduate who knows first hand the opportunities education brings about. This opportunity afforded him a scholarship at a premier institution in Tufts University where he started working on ULink. Jubril’s aspiration is to provide community college students most of whom are first-generation and underprivileged and make up just under half of the entire college student population in the United States the vision and tools  necessary to pursue the opportunity he was afforded which consequentially would launch them on the path of upward social mobility.</p>
          </div>
        </div>


    </div>
  </div>

<div class="row">
    <div class="col s12 m6 l4">

      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator circle responsive-img" <%= image_tag("jubril.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universität Hamburg <i class="material-icons right">more_vert</i></span>
            <p><a href="https://www.uni-hamburg.de/en/campuscenter/bewerbung/international/freemover.html">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Universität Hamburg<i class="material-icons right">close</i></span>
          <p>Location: Hamburg, Germany</p>
          <p>Tuition: free </p>
          <p>Enrollment: 42,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("freiburg.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Universität Freiburg<i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.studium.uni-freiburg.de/studienbewerbung-en/international-en/short-term-studies">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Universität Freiburg<i class="material-icons right">close</i></span>
          <p>Location: Freiburg, Germany</p>
          <p>Tuition: free </p>
          <p>Enrollment: 26,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("innsbruck.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universität Innsbruck <i class="material-icons right">more_vert</i></span>
            <p><a href="https://www.uibk.ac.at/studium/international/innsbruck/">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Universität Innsbruck<i class="material-icons right">close</i></span>
          <p>Location: Innsbruck, Austria </p>
          <p>Tuition: $800 USD/semester </p>
          <p>Enrollment: 26,000 </p>
        </div>
      </div>
    </div>
  </div>
