<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag %>
  <title> ULink - College Transfer Assistance </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper indigo darken-3">
        <a href="/" class="brand-logo">  <%= image_tag("ulink.jpg", :alt => "rss feed") %> </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="team">Our Team</a></li>
          <li><a href="donate">Support Our Mission</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="team">Our Team</a></li>
          <li><a href="donate">Support our Mission</a></li>
          <li><a href="contact">Contact</a></li>
      </ul>
      </div>
    </nav>
  </div>
  
<%= yield %>

</body>
</html>
